$def with (todos, usrname)
<!DOCTYPE HTML>
<html>
<head>
<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>
<title>ToDo List</title>
<style type="text/css">
.input {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
        width: 250px;
        float:auto;
        
      }
</style>
<script type="text/javascript">
function preventBack() 
{ window.history.forward(1); }
setTimeout("preventBack()", 0);
window.onunload = function () { null };

function chkaddtodo()
{
     var addtodo1=document.getElementById('addmore').value;
     var add1=document.getElementById('add');
     if(addtodo1!="")
     {
          var check1=document.getElementById('done');
          var i,flag;
          for(i=0;i<check1.length;i++)
          {
           var chkval=check1[i].value;
           if(chkval==addtodo1)
           {
             flag=0;
           }
           else
           {
             flag=1;
           }
          }
          if(flag==0)
          {
             add1.innerHTML="This todo item already exists!";
             return false;
          }
          else
          {
              add1.innerHTML="";
              return true;
          }   
      }
     else if(addtodo1.length==0)
     {
        add1.innerHTML="You must enter the todo item!";
        return false;
     }
     
}
function chkform()
{
   if(chkaddtodo())
   {
      return true;
   }
   else
   {
      return false;
   }
}
</script>
</head>
<body>
<div class="container">
<h2 class="heading">To Do List</h2>
<p class="heading">You are logged in as $usrname</p>
<a href="/logout" style="float:right;">logout</a>
<h4 class="heading" align="left">Things to do: </h4>
<table>
    $for todo in todos:
	<tr>
	<td>
        <form action="/del/$todo.id" method="post">
        <input type="checkbox" id="done" value="$todo.title" onchange="changestatus()">$todo.title
        <button class="deletebutton" type="submit"></button>
        </form>
        </td>
	</tr>

<tr> 
	<td>     
	<form action="/index" method="post">
	<input class="input" type="text" id="addmore" name="addmore" placeholder="I need to" onBlur="chkaddtodo()"><span id="add" class="error"></span>
	<button class="button" type="submit" onclick="chkform()">Add Todo</button>
	</form>
	</td>
</tr>
</table>
</div>
</body>
</html>
