$def with (todos, usrname)
<!DOCTYPE HTML>
<html>
<head>
<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>
<title>ToDo List</title>
<style type="text/css">
.input {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
        width: 250px;
        float:auto;
        
      }
</style>
<script type="text/javascript">
function preventBack() 
{ window.history.forward(1); }
setTimeout("preventBack()", 0);
window.onunload = function () { null };
function chkaddtodo()
{
     var addtodo=document.getElementById("addtodo").value;
     var add=document.getElementById("add");
     if(addtodo=="")
     {
        add.innerHTML="You must enter the todo item!"
        return false;
     }
     else
     {
        return true;
     }
}
function chkform()
{
   if(chkaddtodo())
   {
      return true;
   }
   else
   {
      return false;
   }
}
</script>
</head>
<body>
<div class="container">
<h2 class="heading">To Do List</h2>
<p class="heading">You are logged in as $usrname</p>
<a href="/logout" style="float:right;">logout</a>
<h4 class="heading" align="left">Things to do: </h4>
<table>
    $for todo in todos:
	<tr>
	<td>
        <form action="/del/$todo.id" method="post">
        <input type="checkbox" id="done">
        <label for="done">$todo.title</label>
        <button class="deletebutton" type="submit"></button>
        </form>
        </td>
	</tr>

<tr> 
	<td>     
	<form action="/index" method="post">
	<input class="input" type="text" id="addtodo" name="addmore" placeholder="I need to" onBlur="chkaddtodo()"><span id="add" class="error"></span>
	<button class="button" type="submit" onclick="return chkform()">Add Todo</button>
	</form>
	</td>
</tr>
</table>
</div>
</body>
</html>
