$def with ()
<!DOCTYPE HTML>
<html>
<head>
<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>
<title>Sign In</title>
<script type="text/javascript">
function isUsername()
{
  var usernam=document.getElementById('uname').value;
  var usr=document.getElementById('usr');
  if(usernam!="")
  {
	if(!usernam.match('^[0-9a-zA-Z._]+'))
	{
		usr.innerHTML="Username cannot have special characters.";
		return false;
	}
	
   	else if(usernam.length<5 || usernam.length>20)
   	{
		usr.innerHTML="Username must be between 5-20 characters";
		return false;
   	}
   	
	else
   	{
		usr.innerHTML="&#10004";
		return true;
   	} 
  }
  else if(usernam.length==0)
   {
	usr.innerHTML="Please enter a Username";
	return false;
   }
}
function chkpassword()
{
   var pawd1=document.getElementById('password').value;
   var palt=document.getElementById('pwd');
 if(pawd1.length==0)
  {
    palt.innerHTML="Please enter the password!";
    return false;
  }
  else if(pawd1.length<6 || pawd1.length>12)
  {
	palt.innerHTML="Password must be between 6-12 characters";
        return false;
  }
 else
  {
    palt.innerHTML="&#10004";
    return true;
  }

}
function chkform()
 {
	if(isUsername())
	{
		if(chkpassword())
		{
	 		return true;
                }
 		else
		{
			return false;
		}
	}
	else
	{
		return false;
	}
}
</script>
</head>
<body>
<div>
      <form class="form-signin" action="" method="post" align="center">
        <h2 class="form-signin-heading">To Do List</h2>
        <h3 class="form-signin-heading">Please sign in</h3><br>
        <input type="text" class="input-block-level" name="uname" id="uname" placeholder="Username" onBlur="isUsername()"><span id="usr" class="error"></span>
        <input type="password" class="input-block-level" name="password" id="password" placeholder="Password" onBlur="chkpassword()"><span id="pwd" class="error"></span><br><br>
        <button class="button" type="submit" onclick="return chkform()">Sign in</button>
        <h3 class="form-signin-heading">Not Registered yet?</h3>
        <a href="signup">Sign Up</a>
      </form>
</div>
</body>
</html>

